<table class="table language-table">
    <thead>
        <tr>
            <td><p class="text">#</p></td>
            <td class="machine-name" ng-if="lmSettings.devMod">
                <p class="text">Machine name</p>
            </td>
            <td><p class="text">Button name</p></td>
            <td><p class="text">Language</p></td>
            <td> <tl-switcher></tl-switcher> </td>
        </tr>
        <tr class="add-new-row" ng-init="language={}">
            <td> <div class="badge"> {{languagesData.length+1}} </div> </td>
            <td class="machine-name" ng-if="lmSettings.devMod">
                <input class="form-control input-sm" type="text" ng-model="language.machineName"
                placeholder="Machine name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.btnName"
                placeholder="Button name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.langName"
                placeholder="Language name">
            </td>
            <td>
                <button type="button" class="add-new-row-btn btn btn-primary btn-sm"
                ng-click="lgRowActions.add(language); language={}" ng-disabled="!language.btnName">
                <i class="glyphicon glyphicon-plus"></i>
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(k, row) in languagesData track by $index">
            <td><p class="text">{{k+1}}</p></td>

            <td class="machine-name" ng-if="lmSettings.devMod" ng-switch="row.edit">
                <p ng-switch-default class="text" title="{{row.machineName}}">
                    {{row.machineName}}
                </p>
                <input ng-switch-when="true" class="form-control input-sm" type="text" ng-model="row.machineName">
            </td>

            <td ng-switch="row.edit">
                <p ng-switch-default class="text" title="{{row.btnName}}">
                    {{row.btnName}}
                </p>
                <input ng-switch-when="true" class="form-control input-sm" type="text" ng-model="row.btnName">
            </td>

            <td ng-switch="row.edit">
                <p ng-switch-default class="text" title="{{row.langName}}">
                    {{row.langName}}
                </p>
                <input ng-switch-when="true" class="form-control input-sm" type="text" ng-model="row.langName">
            </td>

            <td ng-switch="row.edit">
                <div ng-switch-default>
                    <button type="button" class="btn btn-success btn-sm"
                        ng-click="lgRowActions.edit(row, $index); row.edit = true">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-dblclick="lgRowActions.remove($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                <div ng-switch-when="true">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="lgRowActions.done(row, $index); row.edit = false">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm"
                        ng-click="lgRowActions.cancel(row, $index); row.edit = false">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>