<table id="languageTable" class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td ng-if="devModState">Machine name</td>
            <td>Button name</td>
            <td>Language</td>
            <td> <tl-switcher></tl-switcher> </td>
        </tr>
        <tr class="addNewRow" ng-init="language={}">
            <td> <span class="badge"> {{languagesData.length+1}} </span> </td>
            <td ng-if="devModState">
                <input class="form-control input-sm" type="text" ng-model="language.machineName"
                placeholder="Machine name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.btnName"
                placeholder="Button name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.langName"
                placeholder="Language name">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm pull-right"
                ng-click="lgRowActions.add(language); language={}" ng-disabled="!language.btnName">
                <i class="glyphicon glyphicon-plus"></i> Add language
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(k, row) in languagesData" ng-init="editState[row.uniqueID] = false">
            <td>{{k+1}}</td>

            <td ng-if="devModState" ng-switch="editState[row.uniqueID]">
                <span ng-switch-default class="text">
                    {{row.machineName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.machineName">
                </span>
            </td>

            <td ng-switch="editState[row.uniqueID]">
                <span ng-switch-default class="text">
                    {{row.btnName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.btnName">
                </span>
            </td>

            <td ng-switch="editState[row.uniqueID]">
                <span ng-switch-default class="text">
                    {{row.langName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.langName">
                </span>
            </td>

            <td ng-switch="editState[row.uniqueID]">
                <span ng-switch-default class="pull-right">
                    <button type="button" class="btn btn-success btn-sm"
                        ng-click="lgRowActions.edit(row, $index); editState[row.uniqueID] = true">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-dblclick="lgRowActions.remove($index)">
                        <i class="glyphicon glyphicon-trash"></i> Remove
                    </button>
                </span>
                <span ng-switch-when="true" class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="lgRowActions.done(row, $index); editState[row.uniqueID] = false">
                        <i class="glyphicon glyphicon-ok"></i> Done
                    </button>
                    <button type="button" class="btn btn-warning btn-sm"
                        ng-click="lgRowActions.cancel(row, $index); editState[row.uniqueID] = false">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>