<table class="table language-table">
    <thead>
        <tr td-set-sizer>
            <td width="5%">#</td>
            <td class="machine-name" ng-if="lmSettings.devMod">Machine name</td>
            <td class="button-name">Button name</td>
            <td class="language-name">Language</td>
            <td width="5%"> <tl-switcher></tl-switcher> </td>
        </tr>
        <tr class="add-new-row" ng-init="language={}" td-set-sizer>
            <td width="5%"> <span class="badge"> {{languagesData.length+1}} </span> </td>
            <td ng-if="lmSettings.devMod">
                <input class="form-control input-sm" type="text" ng-model="language.machineName"
                placeholder="Machine name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.btnName"
                placeholder="Button name">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="language.langName"
                placeholder="Language name">
            </td>
            <td width="5%">
                <button type="button" class="add-new-row-btn btn btn-primary btn-sm"
                ng-click="lgRowActions.add(language); language={}" ng-disabled="!language.btnName">
                <i class="glyphicon glyphicon-plus"></i>
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(k, row) in languagesData track by $index" td-set-sizer>
            <td width="5%">{{k+1}}</td>

            <td class="machine-name" ng-if="lmSettings.devMod" ng-switch="row.edit">
                <span ng-switch-default class="text">
                    {{row.machineName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.machineName">
                </span>
            </td>

            <td class="button-name" ng-switch="row.edit">
                <span ng-switch-default class="text">
                    {{row.btnName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.btnName">
                </span>
            </td>

            <td class="language-name" ng-switch="row.edit">
                <span ng-switch-default class="text">
                    {{row.langName}}
                </span>
                <span ng-switch-when="true">
                    <input class="form-control input-sm" type="text" ng-model="row.langName">
                </span>
            </td>

            <td ng-switch="row.edit" width="5%">
                <div ng-switch-default>
                    <button type="button" class="btn btn-success btn-sm"
                        ng-click="lgRowActions.edit(row, $index); row.edit = true">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-dblclick="lgRowActions.remove($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                <div ng-switch-when="true">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="lgRowActions.done(row, $index); row.edit = false">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm"
                        ng-click="lgRowActions.cancel(row, $index); row.edit = false">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>