
<style>
.wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cell {
    display: table-cell;
    height: 3rem;
    vertical-align: middle;
}

.description {
    background-color: #ccc;
}

.add {
    background-color: gold;
    width: 120px;
    text-align: center;
}

.r {
    background-color: #cecece;
    text-align: center;
}

.remove {
    background-color: red;
    width: 120px;
    text-align: center;
}
</style>


<div class="wrap">
    <div class="cell description">Item Description</div>
    <div class="cell add">Add</div>
    <div class="cell r">222222</div>
    <div class="cell remove">Remove</div>
</div>
<div class="wrap">
    <div class="cell description">Item Description</div>
    <div class="cell add">Add</div>
    <div class="cell r">222222</div>
    <div class="cell remove">Remove</div>
</div>
<div class="wrap">
    <div class="cell description">Item Description</div>
    <div class="cell add">Add</div>
    <div class="cell r">222222</div>
    <div class="cell remove">Remove</div>
</div>
<div class="wrap">
    <div class="cell description">Item Description</div>
    <div class="cell add">Add</div>
    <div class="cell r">222222</div>
    <div class="cell remove">Remove</div>
</div>

<div class="btn-group">
    <label ng-repeat="obj in dataLanguages"
            class="btn btn-primary" ng-click="setLanguage(obj.machineName)"
           ng-model="radio.model" btn-radio="obj.machineName">
        {{obj.btnName}}
    </label>
</div>

<h1>{{t.qw}}</h1>
     <br>
<h2>{{t.as}}</h2>
     <br>
<h3>{{t.df}}</h3>
     <br>
<h4>{{t.cv}}</h4>