<div class="langConfig pull-right" ng-switch="tlStateManager" uib-dropdown>

    <button type="button" ng-switch-when="false" ng-click="switchTables(true)" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-list-alt"></i> Translations
    </button>
    <button type="button" ng-switch-when="true" ng-click="switchTables(false)" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-list-alt"></i> Languages
    </button>

    <button type="button" class="btn btn-info btn-sm dropdown-toggle" uib-dropdown-toggle>
    <i class="fa fa-cogs"></i></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="lang in languagesData">
            <a name="logout" ng-click="activateLanguage(lang)">
                <i ng-class="lang.active ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i> {{lang.btnName}}
            </a>
        </li>
        <li>
            <a name="devMod" ng-click="devMod(devModState)">
                <i ng-class="devModState ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> Dev mode
            </a>
        </li>
    </ul>

</div>