<div class="langConfig pull-right" ng-switch="tlStateManager" dropdown>

    <button type="button" ng-switch-when="false" ng-click="switchTables(true)" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-list-alt"></i> Translations
    </button>
    <button type="button" ng-switch-when="true" ng-click="switchTables(false)" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-list-alt"></i> Languages
    </button>

    <button type="button" class="btn btn-info btn-sm dropdown-toggle" dropdown-toggle>
    <i class="fa fa-cogs"></i></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="lang in languagesData">
            <a name="logout" ng-click="setLanguage(lang.machineName)"><i class="fa fa-globe"></i> {{lang.name}}</a>
        </li>
        <li><a name="devMod" ng-click="devMod(devModState)"><i class="fa fa-cog"></i> Dev mode</a></li>
    </ul>

</div>