<div class="lang-config" uib-dropdown>

    <button type="button" ng-click="switchTables()" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-{{lmSettings.tlState ? 'globe' : 'list-alt'}}"></i>
    </button>

    <button type="button" class="btn btn-info btn-sm dropdown-toggle" uib-dropdown-toggle>
    <i class="fa fa-cog"></i></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="lang in languagesData">
            <a name="logout" ng-click="activateLanguage(lang)">
                <i class="fa {{lang.active ? 'fa-check-square-o' : 'fa-square-o'}}"></i> {{lang.btnName}}
            </a>
        </li>
        <li>
            <a name="showHideDevMod" ng-click="devMod()">
                <i class="fa {{lmSettings.devMod ? 'fa-eye-slash' : 'fa-eye'}}"></i> Dev mode
            </a>
        </li>
    </ul>

</div>