.tl-manager {
  .animate {
    &.ng-enter,
    &.ng-leave {
      transition: 270ms linear all;
      position: relative;
      display: block;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      top: 0;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
      top: -50px;
      height: 0;
    }
  }
}

input[type="text"].ng-leave.ng-leave-active {
  display: none;
}