.language-table,
.translation-table {
  border: 1px solid $border-color;

  td {
    height: $td-height;
    display: inline-block;

    &:first-child {
      font-weight: bold;
    }

    &:first-child,
    &:last-child {
      text-align: center;
      vertical-align: middle;
    }
  }

  > thead {
    background-color: $thead-bg;

    .add-new-row > td {
      background-color: $row-add-new-row-bg;

      .badge {
        background-color: #fff;
        margin: 7px 0;
        cursor: pointer;
        color: #000;
      }

      .add-new-row-btn {
        width: 100%;
      }
    }
  }

  > tbody {
    height: 100%;
    overflow: auto;

    > tr {
      &:nth-child(odd) {
        background-color: $tbody-tr-bg-odd;
      }

      &:nth-child(even) {
        background-color: $tbody-tr-bg-even;
      }

      &:hover {
        transition: 0.15s linear all;
        background-color: $tbody-tr-hover;
      }
    }
  }

  > tbody,
  > thead {
    float: left;
    width: 100%;

    > tr {
      width: 100%;
      display: table;
      border-bottom: 1px solid $border-color;

      > td {
        border-top: 0;

        > .text {
          margin: 5px 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: default;
        }

        &:not(:last-child) {
          border-right: 1px solid $border-color;
        }
      }
    }
  }
}

.lang-config  {
  position: relative;

  .dropdown-menu {
    > li {
      border-bottom: 1px solid $dropdown-menu-border-color;

      > a {
        cursor: pointer;
        padding: 3px 7px;

        &:hover {
          color: #08c;
        }
      }

      &:first-child {
        border-top: 1px solid $dropdown-menu-border-color;
      }
    }
  }
}