.language-table,
.translation-table {
  border: 1px solid $border-color;

  td {
    min-height: $td-min-height;

    &:first-child {
      text-align: center;
      font-weight: bold;
      width: $first-td-width;
    }

    &:last-child {
      width: $last-td-width;
    }
  }

  > thead {
    background-color: $thead-bg;

    .add-new-row > td {
      background-color: $row-add-new-row-bg;

      .badge {
        background-color: #fff;
        color: #000;
      }
    }
  }

  > tbody {
    height: 100%;
    overflow: auto;

    > tr {
      &:nth-child(odd) {
        background-color: $tbody-tr-bg-odd;
      }

      &:nth-child(even) {
        background-color: $tbody-tr-bg-even;
      }

      &:hover {
        transition: 0.15s linear all;
        background-color: $tbody-tr-hover;
      }
    }
  }

  > tbody,
  > thead {
    float: left;
    width: 100%;

    > tr {
      width: 100%;
      display: table;

      > td {
        border-top-color: $border-color;
        vertical-align: middle;

        &:not(:last-child) {
          border-right: 1px solid $border-color;
        }
      }
    }
  }

}

.lang-config  {
  position: relative;

  .dropdown-menu {
    > li {
      border-bottom: 1px solid $dropdown-menu-border-color;

      > a {
        cursor: pointer;
        padding: 3px 7px;

        &:hover {
          color: #08c;
        }
      }

      &:first-child {
        border-top: 1px solid $dropdown-menu-border-color;
      }
    }
  }
}