$row-add-new-row-bg: #649DFF;

$thead-bg:           #E2E9FF;
$border-color:       #ddd;

$tbody-tr-bg-odd:    #fff;
$tbody-tr-bg-even:     darken($tbody-tr-bg-odd, 2%);
$tbody-tr-hover:       lighten($thead-bg, 2.5%);

$dropdown-menu-border-color: $border-color;

$td-first-width:  5%;
$td-last-width:  5%;

$td-height:  47px;